<div class="mt-3 container">
    <div class="d-flex flex-column justify-content-around align-items-center" *ngIf="SelectedMenu">
        <h1 class="mx-auto text-danger">{{SelectedMenu.name}}</h1>
        <div class="col-7 m-4 card" *ngFor="let dish of SelectedMenu.dishes">
            <div class="card-body d-flex flex-row justify-content-between">
                <div *ngIf="dish.imageUrl" class="image-wrapper">
                    <img class="img-thumbnail" src="{{dish.imageUrl}}" alt="{{dish.name}}">
                </div>
                <div class="mx-4">
                    <h5 class="card-title">{{dish.name}}</h5>
                    <div class="d-flex flex-row" *ngIf="dish.tags">
                        <div class="me-1" *ngFor="let tag of dish.tags">
                            <label class="badge rounded-pill bg-primary">{{tag}}</label>
                        </div>
                    </div>
                    <app-star-rating [rating]="dish.userRating"></app-star-rating>
                    <p *ngIf="dish.description" class="card-text">{{dish.description}}</p>
                </div>
                <div class="last-col d-flex flex-column justify-content-between align-items-center">
                    <h3 class="price" *ngIf="dish.price && dish.price.quantity">
                        <label class="me-1" *ngIf="dish.price.unitDisplayText && dish.price.unitDisplayText.length">
                            {{dish.price.unitDisplayText}}
                        </label>
                        <label>
                            {{dish.price.quantity}}
                        </label>
                    </h3>
                    <div class="d-flex flex-column justify-content-around align-items-center waiting-time" *ngIf="dish.waitingTime">
                        <div>
                            <i class="fas fa-clock waiting-clock"></i>
                        </div>
                        <div>{{dish.waitingTime/60}} mins</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!SelectedMenu">
        No menu is configured. Please use the Rest API to configure a menu
    </div>
</div>